<nav style="margin-bottom: 0px;" class="navbar navbar-dark bg-primary navbar-expand-lg" >
    <a class="navbar-brand" href="/">
        GuiaPress
    </a>
    <!--Para criar um menu utilizamos a class = navbar-nav
    mr-auto serve para configurar uma margem total à direita
     -->
    <ul class="navbar-nav mr-auto "  >
        <!--Para criar um item  utilizamos a class = nav-item -->
        <li class="nav-item"  >
            <!--O link do item do menu deve ter a class = nav-link
            para aparecer no menu -->
            <a class="nav-link"  href="/admin/categories">Categorias</a>
        </li>
        <li class="nav-item"  >
            <!--O link do item do menu deve ter a class = nav-link
            para aparecer no menu -->
            <a class="nav-link"  href="/admin/articles">Artigos</a>
        </li>
    </ul>
</nav>